.CourseInfo {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 2px solid turquoise;
}

.CourseInfo_main_grid {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    gap: 2em;
}

.CourseInfo_block {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 0.5em;
}

.CourseInfo_link_back {
    text-decoration: none;
    color: black;
}

.CourseInfo_link_back:visited {
    color: black;
}

.CourseInfo_details_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    padding: 0;
}

.CourseInfo_authors {
    gap: 0;
}