.ErrorList {
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    list-style: none;
    background-color: #e69d9d;
    border: 2px solid firebrick;
}

.ErrorList_item {
    color: firebrick;
}