.AuthForm_wrapper {
    display: flex;

    min-height: 70vh;
    align-items: center;
    justify-content: center;
}

.AuthForm {
    display: flex;
    min-width: 400px;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}